{% extends 'base.html' %}

{% block title %}Change password successful{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto mt-2">
           <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
     <li class="breadcrumb-item active font-weight-bold">Change password</li>
  </ol>
</nav>
  <div class="alert alert-success" role="alert">
    <strong>Success!</strong> Your password has been changed!
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Return to home page</a> 
        </div>
    </div>
</div>

{% endblock %}